@font-face {
    <meta charset="UTF-8">
    <title>My Website</title>
}


body {
    font-family:"OpenSans", Arial, sans-serif;
    background-color:#af8ed9;
}
h1 {
    font-size:36px;
    font-weight:bold;
}
img {
    max-width:100%;
}
.btn-primary {
    background-color:#b3aeb8;
    color:grey;
    padding:10px 20px;
    text-decoration:none;
    border-radius:5px;
